@import "tailwindcss";

@theme {
  --font-inconsolata: Inconsolata, monospace;

  --color-primary: oklch(96% 0.003 17.2);
  --color-secondary: oklch(92.9% 0.01 228.9);
  --color-main-orange: oklch(70.2% 0.126 42.6 / 0.85);
  --color-main-green: oklch(73.3% 0.091 199 / 0.85);
  --color-main-blue: oklch(68.6% 0.118 232.8 / 0.85);
  --color-discord-btn: oklch(76.5% 0.083 198.5 / 0.7);
  --color-nav-btn: oklch(62.6% 0.106 198.8);
  --color-nav-btn-light: oklch(76.1% 0.089 198.2);

  --color-teal: oklch(62.6% 0.106 198.8);
  --color-teal-light: oklch(84.7% 0.022 227.6);
  --color-teal-lightest: oklch(92.6% 0.01 228.9);

  --color-accent: oklch(74% 0.173 49.3 / 0.6);
}

@layer base {
  body {
    @apply bg-teal-light;
  }
}
