@import "tailwindcss";

@theme {
  --breakpoint-*: initial;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;

  --font-*: initial;
  --font-inconsolata: Inconsolata, monospace;

  --color-primary: #f4f1f1;
  --color-secondary: #e1e9ed;
  --color-main-orange: rgb(var(--color-mainOrange) / 0.85);
  --color-main-green: rgb(var(--color-mainGreen) / 0.85);
  --color-main-blue: rgb(var(--color-mainBlue) / 0.85);
  --color-discord-btn: rgb(var(--color-discordBtn) / 0.7);
  --color-nav-btn: #009ba0;
  --color-nav-btn-light: #66c3c6;

  --color-teal: #009ba0;
  --color-teal-light: #bfd0d8;
  --color-teal-lightest: #e0e8ec;

  --color-accent: rgb(var(--color-accent-base) / 0.6);
}

@layer base {
  body {
    @apply bg-teal-light;
  }

  :root {
    --color-mainOrange: 224 131 93;
    --color-mainGreen: 90 186 190;
    --color-mainBlue: 62 166 215;
    --color-discordBtn: 110 195 198;

    --color-accent-base: 255 132 53;
  }
}
