@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-teal-light;
  }
}

@layer components {
  .group:hover .group-hover\:flex {
    display: flex;
  }

  .modal {
    width: clamp(10%, 500px, 50%);
    min-height: 400px;
  }

  .h-crunch-screen {
    height: calc(100vh - 5%);
  }
}
